# Question 1

In [1]:
series = [4,8,15,16,23,42]

In [2]:
import pandas as pd
ser = pd.Series(series)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Question 2

In [4]:
lst = [1,2,3,4,5,6,7,8,9,0]
ser = pd.Series(lst)
print(ser)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

# Question 3

In [6]:
rows = [['ALice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
df = pd.DataFrame(rows,columns=['Name','Age','gender'])
print(df)

     Name  Age  gender
0   ALice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Question 4

In pandas, a DataFrame is a two-dimensional, size-mutable, and tabular data structure with labeled axes (rows and columns), whereas a Series is a one-dimensional labeled array capable of holding any data type.

In simpler terms, a DataFrame is like a table with rows and columns, where each column can have a different data type, while a Series is like a single column of a DataFrame.

# Question 5

Pandas is a powerful data manipulation library in Python, and it provides a wide range of functions for working with DataFrames. Here are some common functions you can use to manipulate data in a Pandas DataFrame:

1. head() and tail(): These functions are used to display the top and bottom n rows of a DataFrame, respectively. You might use them to get a quick view of your data, to check that your data has been loaded correctly, or to verify that any data transformations you have applied have worked as expected.

2. describe(): This function is used to display a summary of statistics for each column in a DataFrame, such as count, mean, standard deviation, minimum and maximum values, and quartiles. You might use it to get a quick overview of the distribution of your data, to check for any outliers, or to verify that any data transformations you have applied have had the desired effect.

3. sort_values(): This function is used to sort a DataFrame by one or more columns. You might use it to order your data in a particular way, for example, to find the top N rows for a given column, or to sort the data by multiple columns.

4. groupby(): This function is used to group a DataFrame by one or more columns and apply an aggregate function to each group. You might use it to calculate summary statistics for different subsets of your data, or to split your data into different groups for further analysis.

5. pivot_table(): This function is used to create a pivot table, which is a way of summarizing and analyzing data in a DataFrame. You might use it to create a summary table of your data, or to compare different subsets of your data.

# Question 6

## DataFrame and Series both are mutable in python while panel is not

# qUESTION 7

In [7]:
column1 = pd.Series([10, 20, 30, 40, 50])

# create the second Series with some sample data
column2 = pd.Series(['apple', 'banana', 'cherry', 'orange', 'pear'])

# create the DataFrame by combining the two Series
df = pd.DataFrame({'Column1': column1, 'Column2': column2})

# print the resulting DataFrame
print(df)

   Column1 Column2
0       10   apple
1       20  banana
2       30  cherry
3       40  orange
4       50    pear