# Question 1

## A database is a collection of data that is organized in a way that allows for efficient storage, retrieval, and management of that data. There are two main types of databases: SQL (relational) databases and NoSQL (non-relational) databases.

SQL (Structured Query Language) databases are based on the relational model of data, which organizes data into tables that have relationships with one another. SQL databases use SQL as their primary language for querying and managing data. SQL databases are known for their reliability, consistency, and ease of use. They typically have a predefined schema that defines the structure of the data and the relationships between tables. Examples of SQL databases include MySQL, PostgreSQL, and Oracle.

NoSQL databases, on the other hand, are designed to handle large volumes of unstructured or semi-structured data. NoSQL databases do not use tables with fixed relationships, but rather use flexible data models such as document, key-value, or graph databases. NoSQL databases typically use their own query languages or APIs for querying and managing data. NoSQL databases are known for their scalability, flexibility, and high performance. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, SQL databases are based on the relational model of data and use SQL as their primary language, while NoSQL databases are designed to handle unstructured or semi-structured data and use flexible data models with their own query languages or APIs.

# Question 2

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) that is used to define and manipulate the structure of database objects, such as tables, views, and indexes. The main purpose of DDL is to create, modify, or delete objects in the database schema.

CREATE: The CREATE statement is used to create new objects in the database, such as tables, views, indexes, and procedures. For example, the following SQL statement creates a new table named "students" with three columns:

In [ ]:
CREATE TABLE students (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT
);


DROP: The DROP statement is used to delete existing objects from the database. For example, the following SQL statement deletes the "students" table:

In [ ]:
DROP TABLE students;

ALTER: The ALTER statement is used to modify the structure of existing objects in the database, such as adding or removing columns, changing the data type of a column, or renaming a table. For example, the following SQL statement adds a new column "gender" to the "students" table:

In [ ]:
ALTER TABLE students ADD COLUMN gender VARCHAR(10);

TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping its structure intact. It is faster and more efficient than deleting all the rows one by one using the DELETE statement. For example, the following SQL statement deletes all the data from the "students" table:

In [ ]:
TRUNCATE TABLE students;

# Question 3

## DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) that is used to manipulate the data stored in a database. DML statements are used to insert, update, and delete data in tables.

INSERT: The INSERT statement is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "students" table:

In [ ]:
INSERT INTO students (id, name, age) VALUES (1, 'John Doe', 20);

UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following SQL statement updates the age of the student with id=1 to 21:

In [ ]:
UPDATE students SET age=21 WHERE id=1;

DELETE: The DELETE statement is used to delete existing data from a table. For example, the following SQL statement deletes the row with id=1 from the "students" table:

In [ ]:
DELETE FROM students WHERE id=1;

# Question 4

## DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. The SELECT statement is the most commonly used DQL statement, and it is used to select data from one or more tables in a database.

In [ ]:
SELECT column1, column2, ... FROM table1 WHERE condition;

# Question 5

## In a relational database, a primary key and a foreign key are two types of constraints that are used to establish relationships between tables.

A primary key is a column or a group of columns in a table that uniquely identifies each row in that table. It is used to enforce data integrity and ensure that each row in the table is unique. When a table has a primary key, it can be used as a reference in other tables as a foreign key. The primary key constraint ensures that the primary key column(s) cannot contain null values and must have unique values in each row.

A foreign key is a column or a group of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables and ensures referential integrity. The foreign key constraint ensures that the values in the foreign key column(s) must exist in the primary key column(s) of the referenced table, or be null if the foreign key column(s) allow null values.

# Question 6

In [ ]:
import mysql.connector

# establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

# fetch the results
results = mycursor.fetchall()

# print the results
for result in results:
  print(result)

## we create a cursor object using the cursor() method of the database connection object. A cursor object allows us to execute SQL queries on the database.

## execute() method of the cursor object to execute an SQL query. In this example, we execute a simple SELECT query to retrieve all the rows from a table.

# Question 7

In general, the order of execution of SQL clauses in an SQL query is as follows:

1) FROM clause: The FROM clause specifies the tables or views that are used in the query. It is the first clause in the query and identifies the data sources for the query.

2. JOIN clause: The JOIN clause is used to combine rows from two or more tables based on a related column between them. It is usually specified immediately after the FROM clause.

3. WHERE clause: The WHERE clause is used to filter the results of the query based on a specified condition. It is usually specified after the JOIN clause and before the GROUP BY clause (if present).

4. GROUP BY clause: The GROUP BY clause is used to group the rows of a table based on one or more columns. It is usually specified after the WHERE clause and before the ORDER BY clause (if present).

5. HAVING clause: The HAVING clause is used to filter the groups created by the GROUP BY clause based on a specified condition. It is usually specified after the GROUP BY clause and before the ORDER BY clause (if present).

6. SELECT clause: The SELECT clause is used to specify the columns to retrieve from the database. It is usually specified after the HAVING clause and before the ORDER BY clause (if present).

7. ORDER BY clause: The ORDER BY clause is used to sort the results of the query based on one or more columns. It is usually specified after the SELECT clause and is the last clause in the query.